.venv/
__pycache__/
*.pyc
*.pyo

# logs
*.log
logs/
output.log

# outputs
saida/
analysis_local/
mapa_criminal_cluster.html

# dados pesados
bases/
_work_reddit/

# notebooks
.ipynb_checkpoints/

# env
.env
.env.*

# credenciais (mais seguro que *.json)
*credentials*.json
*key*.json
*secret*.json
