# === Python cache ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === Virtualenv ===
.venv/
venv/
env/

# === Dados grandes (não versionar) ===
bases/**
!bases/README.md

logs/**

# === Modelos de linguagem ===
src/utils/lang/lid.176.bin

# === Arquivos derivados ===
*.csv
*.zst
*.zip
*.gz

# === Jupyter Notebooks checkpoints ===
.ipynb_checkpoints/
